
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #9cf;
	background-image: linear-gradient(#6af, #bdf);
}

.snowflake {
	position: absolute;
	display: block;
	border-radius: 50%;
	transform: translateZ(0);
	user-select: none;
	background-image: radial-gradient(white 40%,rgba(255,255,255,0) 100%);
}

#snow {
	position: absolute;
	width: 100%;
	height: 100%;
}


// ---------------------------------------


$gray         : #4b4b4b;
$yellow       : #f5cd2d;
$blue         : #96cbcf;
$darkerYellow : #d8ba00;
$red          : #eb0000;
$green        : #649632;
$darkerGreen  : #2d8434;
$tan          : #aa782c;

// keyframes mixin
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animate($name, $time:2s, $algor:linear, $delay:"", $loop:infinite,$fill:"") {
  -webkit-animation: #{$name} $time $algor #{$delay} $loop #{$fill};
	-moz-animation: #{$name} $time $algor #{$delay} $loop #{$fill};
	-ms-animation: #{$name} $time $algor #{$delay} $loop #{$fill};
	animation: #{$name} $time $algor #{$delay} $loop #{$fill};
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin icon($size) {
    position: absolute;
    display: block;
    font-size: $size;
    line-height: $size;
    height: $size;
    width: $size;
}

@include keyframes(flash) {
  10% {
    /* opacity: 0.5; */
    @include transform(scale(0.5,0.5));
  }
}

.xmasTree:before {
  content: '⭐';
  color: $yellow;
  @include icon(60px);
  top: 10px;
  left: -33px;
  @include animate($name:flash, $algor:ease, $fill:forwards);
}

.xmasTree {
  @include animate($name:xmasTree, $fill:forwards);
  
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,0) scale(1.3);
  box-shadow:
    0 3em 0 0 $gray
    ,1em 4em 0 0 $gray
    ,0 4em 0 0 $green
    ,-1em 4em 0 0 $gray
    ,-2em 5em 0 0 $gray
    ,-1em 5em 0 0 $blue
    ,0 5em 0 0 $green
    ,1em 5em 0 0 $green
    ,2em 5em 0 0 $gray
    ,3em 6em 0 0 $gray
    ,2em 6em 0 0 $green
    ,1em 6em 0 0 $red
    ,0 6em 0 0 $green
    ,-1em 6em 0 0 $green
    ,-2em 6em 0 0 $green
    ,-3em 6em 0 0 $gray
    ,-2em 7em 0 0 $gray
    ,-1em 7em 0 0 $green
    ,0 7em 0 0 $darkerGreen
    ,1em 7em 0 0 $green
    ,2em 7em 0 0 $gray
    ,3em 8em 0 0 $gray
    ,2em 8em 0 0 $green
    ,1em 8em 0 0 $darkerGreen
    ,0 8em 0 0 $green
    ,-1em 8em 0 0 $darkerGreen
    ,-2em 8em 0 0 $green
    ,-3em 8em 0 0 $gray
    ,-4em 9em 0 0 $gray
    ,-3em 9em 0 0 $green
    ,-2em 9em 0 0 $red
    ,-1em 9em 0 0 $green
    ,0 9em 0 0 $darkerYellow
    ,1em 9em 0 0 $green
    ,2em 9em 0 0 $blue
    ,3em 9em 0 0 $green
    ,4em 9em 0 0 $gray
    ,3em 10em 0 0 $gray
    ,2em 10em 0 0 $green
    ,1em 10em 0 0 $darkerGreen
    ,0 10em 0 0 $green
    ,-1em 10em 0 0 $darkerGreen
    ,-2em 10em 0 0 $green
    ,-3em 10em 0 0 $gray
    ,-4em 11em 0 0 $gray
    ,-3em 11em 0 0 $green
    ,-2em 11em 0 0 $darkerGreen
    ,-1em 11em 0 0 $green
    ,0 11em 0 0 $darkerGreen
    ,1em 11em 0 0 $green
    ,2em 11em 0 0 $darkerGreen
    ,3em 11em 0 0 $darkerYellow
    ,4em 11em 0 0 $gray
    ,5em 12em 0 0 $gray
    ,4em 12em 0 0 $green
    ,3em 12em 0 0 $green
    ,2em 12em 0 0 $green
    ,1em 12em 0 0 $green
    ,0 12em 0 0 $green
    ,-1em 12em 0 0 $green
    ,-2em 12em 0 0 $green
    ,-3em 12em 0 0 $green
    ,-4em 12em 0 0 $green
    ,-5em 12em 0 0 $gray
    ,-4em 13em 0 0 $gray
    ,-3em 13em 0 0 $darkerYellow
    ,-2em 13em 0 0 $green
    ,-1em 13em 0 0 $blue
    ,0 13em 0 0 $green
    ,1em 13em 0 0 $green
    ,2em 13em 0 0 $red
    ,3em 13em 0 0 $green
    ,4em 13em 0 0 $gray
    ,3em 14em 0 0 $gray
    ,2em 14em 0 0 $gray
    ,1em 14em 0 0 $gray
    ,0 14em 0 0 $tan
    ,-1em 14em 0 0 $gray
    ,-2em 14em 0 0 $gray
    ,-3em 14em 0 0 $gray
    ,-1em 15em 0 0 $gray
    ,0 15em 0 0 $gray
    ,1em 15em 0 0 $gray
    ;
}

/*Keyframes*/
@include keyframes(snow) {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
 100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}

@include keyframes(xmasTree) {
  25% {
    box-shadow:
    0 3em 0 0 $gray
    ,1em 4em 0 0 $gray
    ,0 4em 0 0 $green
    ,-1em 4em 0 0 $gray
    ,-2em 5em 0 0 $gray
    ,-1em 5em 0 0 $blue
    ,0 5em 0 0 $green
    ,1em 5em 0 0 $green
    ,2em 5em 0 0 $gray
    ,3em 6em 0 0 $gray
    ,2em 6em 0 0 $green
    ,1em 6em 0 0 $green
    ,0 6em 0 0 $green
    ,-1em 6em 0 0 $green
    ,-2em 6em 0 0 $green
    ,-3em 6em 0 0 $gray
    ,-2em 7em 0 0 $gray
    ,-1em 7em 0 0 $green
    ,0 7em 0 0 $darkerGreen
    ,1em 7em 0 0 $green
    ,2em 7em 0 0 $gray
    ,3em 8em 0 0 $gray
    ,2em 8em 0 0 $green
    ,1em 8em 0 0 $darkerGreen
    ,0 8em 0 0 $green
    ,-1em 8em 0 0 $darkerGreen
    ,-2em 8em 0 0 $green
    ,-3em 8em 0 0 $gray
    ,-4em 9em 0 0 $gray
    ,-3em 9em 0 0 $green
    ,-2em 9em 0 0 $green
    ,-1em 9em 0 0 $green
    ,0 9em 0 0 $darkerYellow
    ,1em 9em 0 0 $green
    ,2em 9em 0 0 $blue
    ,3em 9em 0 0 $green
    ,4em 9em 0 0 $gray
    ,3em 10em 0 0 $gray
    ,2em 10em 0 0 $green
    ,1em 10em 0 0 $darkerGreen
    ,0 10em 0 0 $green
    ,-1em 10em 0 0 $darkerGreen
    ,-2em 10em 0 0 $green
    ,-3em 10em 0 0 $gray
    ,-4em 11em 0 0 $gray
    ,-3em 11em 0 0 $green
    ,-2em 11em 0 0 $darkerGreen
    ,-1em 11em 0 0 $green
    ,0 11em 0 0 $darkerGreen
    ,1em 11em 0 0 $green
    ,2em 11em 0 0 $darkerGreen
    ,3em 11em 0 0 $darkerYellow
    ,4em 11em 0 0 $gray
    ,5em 12em 0 0 $gray
    ,4em 12em 0 0 $green
    ,3em 12em 0 0 $green
    ,2em 12em 0 0 $green
    ,1em 12em 0 0 $green
    ,0 12em 0 0 $green
    ,-1em 12em 0 0 $green
    ,-2em 12em 0 0 $green
    ,-3em 12em 0 0 $green
    ,-4em 12em 0 0 $green
    ,-5em 12em 0 0 $gray
    ,-4em 13em 0 0 $gray
    ,-3em 13em 0 0 $darkerYellow
    ,-2em 13em 0 0 $green
    ,-1em 13em 0 0 $blue
    ,0 13em 0 0 $green
    ,1em 13em 0 0 $green
    ,2em 13em 0 0 $green
    ,3em 13em 0 0 $green
    ,4em 13em 0 0 $gray
    ,3em 14em 0 0 $gray
    ,2em 14em 0 0 $gray
    ,1em 14em 0 0 $gray
    ,0 14em 0 0 $tan
    ,-1em 14em 0 0 $gray
    ,-2em 14em 0 0 $gray
    ,-3em 14em 0 0 $gray
    ,-1em 15em 0 0 $gray
    ,0 15em 0 0 $gray
    ,1em 15em 0 0 $gray
    ;
  }
  
  50% {
    box-shadow:
    0 3em 0 0 $gray
    ,1em 4em 0 0 $gray
    ,0 4em 0 0 $green
    ,-1em 4em 0 0 $gray
    ,-2em 5em 0 0 $gray
    ,-1em 5em 0 0 $green
    ,0 5em 0 0 $green
    ,1em 5em 0 0 $green
    ,2em 5em 0 0 $gray
    ,3em 6em 0 0 $gray
    ,2em 6em 0 0 $green
    ,1em 6em 0 0 $red
    ,0 6em 0 0 $green
    ,-1em 6em 0 0 $green
    ,-2em 6em 0 0 $green
    ,-3em 6em 0 0 $gray
    ,-2em 7em 0 0 $gray
    ,-1em 7em 0 0 $green
    ,0 7em 0 0 $darkerGreen
    ,1em 7em 0 0 $green
    ,2em 7em 0 0 $gray
    ,3em 8em 0 0 $gray
    ,2em 8em 0 0 $green
    ,1em 8em 0 0 $darkerGreen
    ,0 8em 0 0 $green
    ,-1em 8em 0 0 $darkerGreen
    ,-2em 8em 0 0 $green
    ,-3em 8em 0 0 $gray
    ,-4em 9em 0 0 $gray
    ,-3em 9em 0 0 $green
    ,-2em 9em 0 0 $red
    ,-1em 9em 0 0 $green
    ,0 9em 0 0 $darkerYellow
    ,1em 9em 0 0 $green
    ,2em 9em 0 0 $green
    ,3em 9em 0 0 $green
    ,4em 9em 0 0 $gray
    ,3em 10em 0 0 $gray
    ,2em 10em 0 0 $green
    ,1em 10em 0 0 $darkerGreen
    ,0 10em 0 0 $green
    ,-1em 10em 0 0 $darkerGreen
    ,-2em 10em 0 0 $green
    ,-3em 10em 0 0 $gray
    ,-4em 11em 0 0 $gray
    ,-3em 11em 0 0 $green
    ,-2em 11em 0 0 $darkerGreen
    ,-1em 11em 0 0 $green
    ,0 11em 0 0 $darkerGreen
    ,1em 11em 0 0 $green
    ,2em 11em 0 0 $darkerGreen
    ,3em 11em 0 0 $darkerYellow
    ,4em 11em 0 0 $gray
    ,5em 12em 0 0 $gray
    ,4em 12em 0 0 $green
    ,3em 12em 0 0 $green
    ,2em 12em 0 0 $green
    ,1em 12em 0 0 $green
    ,0 12em 0 0 $green
    ,-1em 12em 0 0 $green
    ,-2em 12em 0 0 $green
    ,-3em 12em 0 0 $green
    ,-4em 12em 0 0 $green
    ,-5em 12em 0 0 $gray
    ,-4em 13em 0 0 $gray
    ,-3em 13em 0 0 $darkerYellow
    ,-2em 13em 0 0 $green
    ,-1em 13em 0 0 $green
    ,0 13em 0 0 $green
    ,1em 13em 0 0 $green
    ,2em 13em 0 0 $red
    ,3em 13em 0 0 $green
    ,4em 13em 0 0 $gray
    ,3em 14em 0 0 $gray
    ,2em 14em 0 0 $gray
    ,1em 14em 0 0 $gray
    ,0 14em 0 0 $tan
    ,-1em 14em 0 0 $gray
    ,-2em 14em 0 0 $gray
    ,-3em 14em 0 0 $gray
    ,-1em 15em 0 0 $gray
    ,0 15em 0 0 $gray
    ,1em 15em 0 0 $gray
    ;
  }
  75% {
    box-shadow:
    0 3em 0 0 $gray
    ,1em 4em 0 0 $gray
    ,0 4em 0 0 $green
    ,-1em 4em 0 0 $gray
    ,-2em 5em 0 0 $gray
    ,-1em 5em 0 0 $blue
    ,0 5em 0 0 $green
    ,1em 5em 0 0 $green
    ,2em 5em 0 0 $gray
    ,3em 6em 0 0 $gray
    ,2em 6em 0 0 $green
    ,1em 6em 0 0 $red
    ,0 6em 0 0 $green
    ,-1em 6em 0 0 $green
    ,-2em 6em 0 0 $green
    ,-3em 6em 0 0 $gray
    ,-2em 7em 0 0 $gray
    ,-1em 7em 0 0 $green
    ,0 7em 0 0 $darkerGreen
    ,1em 7em 0 0 $green
    ,2em 7em 0 0 $gray
    ,3em 8em 0 0 $gray
    ,2em 8em 0 0 $green
    ,1em 8em 0 0 $darkerGreen
    ,0 8em 0 0 $green
    ,-1em 8em 0 0 $darkerGreen
    ,-2em 8em 0 0 $green
    ,-3em 8em 0 0 $gray
    ,-4em 9em 0 0 $gray
    ,-3em 9em 0 0 $green
    ,-2em 9em 0 0 $red
    ,-1em 9em 0 0 $green
    ,0 9em 0 0 $green
    ,1em 9em 0 0 $green
    ,2em 9em 0 0 $blue
    ,3em 9em 0 0 $green
    ,4em 9em 0 0 $gray
    ,3em 10em 0 0 $gray
    ,2em 10em 0 0 $green
    ,1em 10em 0 0 $darkerGreen
    ,0 10em 0 0 $green
    ,-1em 10em 0 0 $darkerGreen
    ,-2em 10em 0 0 $green
    ,-3em 10em 0 0 $gray
    ,-4em 11em 0 0 $gray
    ,-3em 11em 0 0 $green
    ,-2em 11em 0 0 $darkerGreen
    ,-1em 11em 0 0 $green
    ,0 11em 0 0 $darkerGreen
    ,1em 11em 0 0 $green
    ,2em 11em 0 0 $darkerGreen
    ,3em 11em 0 0 $green
    ,4em 11em 0 0 $gray
    ,5em 12em 0 0 $gray
    ,4em 12em 0 0 $green
    ,3em 12em 0 0 $green
    ,2em 12em 0 0 $green
    ,1em 12em 0 0 $green
    ,0 12em 0 0 $green
    ,-1em 12em 0 0 $green
    ,-2em 12em 0 0 $green
    ,-3em 12em 0 0 $green
    ,-4em 12em 0 0 $green
    ,-5em 12em 0 0 $gray
    ,-4em 13em 0 0 $gray
    ,-3em 13em 0 0 $green
    ,-2em 13em 0 0 $green
    ,-1em 13em 0 0 $blue
    ,0 13em 0 0 $green
    ,1em 13em 0 0 $green
    ,2em 13em 0 0 $red
    ,3em 13em 0 0 $green
    ,4em 13em 0 0 $gray
    ,3em 14em 0 0 $gray
    ,2em 14em 0 0 $gray
    ,1em 14em 0 0 $gray
    ,0 14em 0 0 $tan
    ,-1em 14em 0 0 $gray
    ,-2em 14em 0 0 $gray
    ,-3em 14em 0 0 $gray
    ,-1em 15em 0 0 $gray
    ,0 15em 0 0 $gray
    ,1em 15em 0 0 $gray
    ;
  }
  100% {
    box-shadow:
    0 3em 0 0 $gray
    ,1em 4em 0 0 $gray
    ,0 4em 0 0 $green
    ,-1em 4em 0 0 $gray
    ,-2em 5em 0 0 $gray
    ,-1em 5em 0 0 $blue
    ,0 5em 0 0 $green
    ,1em 5em 0 0 $green
    ,2em 5em 0 0 $gray
    ,3em 6em 0 0 $gray
    ,2em 6em 0 0 $green
    ,1em 6em 0 0 $red
    ,0 6em 0 0 $green
    ,-1em 6em 0 0 $green
    ,-2em 6em 0 0 $green
    ,-3em 6em 0 0 $gray
    ,-2em 7em 0 0 $gray
    ,-1em 7em 0 0 $green
    ,0 7em 0 0 $darkerGreen
    ,1em 7em 0 0 $green
    ,2em 7em 0 0 $gray
    ,3em 8em 0 0 $gray
    ,2em 8em 0 0 $green
    ,1em 8em 0 0 $darkerGreen
    ,0 8em 0 0 $green
    ,-1em 8em 0 0 $darkerGreen
    ,-2em 8em 0 0 $green
    ,-3em 8em 0 0 $gray
    ,-4em 9em 0 0 $gray
    ,-3em 9em 0 0 $green
    ,-2em 9em 0 0 $red
    ,-1em 9em 0 0 $green
    ,0 9em 0 0 $darkerYellow
    ,1em 9em 0 0 $green
    ,2em 9em 0 0 $blue
    ,3em 9em 0 0 $green
    ,4em 9em 0 0 $gray
    ,3em 10em 0 0 $gray
    ,2em 10em 0 0 $green
    ,1em 10em 0 0 $darkerGreen
    ,0 10em 0 0 $green
    ,-1em 10em 0 0 $darkerGreen
    ,-2em 10em 0 0 $green
    ,-3em 10em 0 0 $gray
    ,-4em 11em 0 0 $gray
    ,-3em 11em 0 0 $green
    ,-2em 11em 0 0 $darkerGreen
    ,-1em 11em 0 0 $green
    ,0 11em 0 0 $darkerGreen
    ,1em 11em 0 0 $green
    ,2em 11em 0 0 $darkerGreen
    ,3em 11em 0 0 $darkerYellow
    ,4em 11em 0 0 $gray
    ,5em 12em 0 0 $gray
    ,4em 12em 0 0 $green
    ,3em 12em 0 0 $green
    ,2em 12em 0 0 $green
    ,1em 12em 0 0 $green
    ,0 12em 0 0 $green
    ,-1em 12em 0 0 $green
    ,-2em 12em 0 0 $green
    ,-3em 12em 0 0 $green
    ,-4em 12em 0 0 $green
    ,-5em 12em 0 0 $gray
    ,-4em 13em 0 0 $gray
    ,-3em 13em 0 0 $darkerYellow
    ,-2em 13em 0 0 $green
    ,-1em 13em 0 0 $blue
    ,0 13em 0 0 $green
    ,1em 13em 0 0 $green
    ,2em 13em 0 0 $red
    ,3em 13em 0 0 $green
    ,4em 13em 0 0 $gray
    ,3em 14em 0 0 $gray
    ,2em 14em 0 0 $gray
    ,1em 14em 0 0 $gray
    ,0 14em 0 0 $tan
    ,-1em 14em 0 0 $gray
    ,-2em 14em 0 0 $gray
    ,-3em 14em 0 0 $gray
    ,-1em 15em 0 0 $gray
    ,0 15em 0 0 $gray
    ,1em 15em 0 0 $gray
    ;
  }
}



// ------------------------------------

.dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  // background-color: #2d8434;
  width: 375px;
  padding: 1rem;

  display: flex;
  justify-content: space-around;
  animation: dance 2s linear infinite;

  .left{
    // background-color: red;
    .line{
      list-style-type: none;
      display: flex;
      justify-content: flex-end;
      position:relative;

      &::before{
        position: absolute;
        content: "";
        border: 10px solid transparent;
        border-left: 10px solid rgb(72, 212, 65);
        z-index: 1000;
        top:50%;
        right: -13%;
        transform: translate(0%,-85%);
      }

      .text{      
        background-color: rgb(72, 212, 65);
        padding: 10px 12px;
        margin-bottom: 16px;
        border-radius: 6px;
        text-align: right;
        position: relative;
      }
      
      

    }
  }

  .right{
    // background-color: aliceblue;
    .line{
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      position:relative;


      &::before{
        position: absolute;
        content: "";
        border: 10px solid transparent;
        border-right: 10px solid rgb(255, 255, 255);
        z-index: 1000;
        top:50%;
        left: -13%;
        transform: translate(0%,-85%);
      }

      .text{      
        background-color: rgb(255, 255, 255);
        padding: 10px 12px;
        margin-bottom: 16px;
        border-radius: 6px;
        text-align: right;
        position: relative;
      }
    }
  }
}


@keyframes dance {
    0% {
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

// -------------------顶部------------------------------
$globe-width:   12px;
$globe-height:  28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;
  li {
    position: relative;
    animation-fill-mode: both; 
    animation-iteration-count:infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);
    animation-name: flash-1;
    animation-duration: 2s;
    &:nth-child(2n+1) {
      background: rgba(0,255,255,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }
    &:nth-child(4n+2) {
      background: rgba(247,0,148,1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }
    &:nth-child(odd) {
      animation-duration: 1.8s;
    }
    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }
    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }
    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }
    &:last-child:after {
      content: none;
    }
    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}
@keyframes flash-1 { 
    0%, 100% { background: rgba(0,247,165,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,1);} 
    50% { background: rgba(0,247,165,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,247,165,0.2);}
}
@keyframes flash-2 { 
    0%, 100% { background: rgba(0,255,255,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,1);} 
    50% { background: rgba(0,255,255,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0,255,255,0.2);}
}
@keyframes flash-3 { 
    0%, 100% { background: rgba(247,0,148,1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,1);} 
    50% { background: rgba(247,0,148,$light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247,0,148,0.2);}
}