@import './scss/_common';
@import './scss/_variables';

.container{
    .section-1{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background: linear-gradient(
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.3)
        ),url('/images/bg.jpg') center/cover;
        background-repeat: no-repeat;


        .heading{
            font-size: 5rem;
            font-weight: 800;
            padding: 0.5rem 3rem;

            text-shadow: 0.2rem 0.2rem 1rem #555;
            color: #fff;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            background-color: $theme-primary-color;
            border-bottom: .5rem solid #fff;
            transform: skew(-10deg);

            @media(max-width: 700px){
                font-size: 3rem;
            }
        }

        .person-img{
            width: 25rem;
            height: 25rem;
            border-radius: 50%;
            border: .7rem dotted $theme-primary-color;
            object-fit: cover;
            padding: 0.3rem;
            background-color: rgba(255, 255, 255, 0.7);
            opacity: 0.9;
        }

        .person-name{
            background-color: $theme-primary-color;
            color: #fff;
            padding: 1rem;
            font-size: 2rem;
            font-weight: 400;
            width: 10rem;
            text-align: center;
            transform: skew(-10deg);
            letter-spacing: 0.5rem;
        }

        .section-1-btn{
            font-size: 1.8rem;
            font-weight: 600;
            padding: 1rem 2rem;
            cursor: pointer;
            border: none;
            text-decoration: none;
            background-color: #fff;
            letter-spacing: .2rem;
            &:hover{
                color: #fff;
                background-color: $theme-primary-color;
            }
        }
    }

    // navbar
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        max-width: 100%;
        height: 5rem;
        background-color: $theme-primary-color;
        box-shadow: 0.2rem 0.2rem 0.5rem #555;

        .navbar-link{
            font-size: 1.7rem;
            font-weight: 600;
            margin: 0 3rem;
            color: #333;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            position: relative;
            transition: color $unit-time;

            @media(max-width: 350px){
                font-size: .8rem;
                font-weight: 600;
                margin: 0 1rem;
            }

            &::before{
                content: " ";
                position:absolute;
                bottom: -.3rem;
                right: -15%;
                width: 0;
                height: .2rem;
                background-color: #fff;
                transition: width $unit-time;
            }

            &:hover{
                color: #fff;
            }

            &:hover::before{
                width: 130%;
            }

            &.active{
                color: #fff;
                &::before{
                    width: 130%;
                }
            }
        }

        &.sticky{
            position: fixed;
            top: 0;
            z-index: 200;
        }
    }

    .section-2{
        @extend .section;
        .section-2-heading{
           @extend .section-heading;
        }

        .progress-bars-wrapper{
            margin-bottom: 15rem;
            .progress-bar{
                width: 60rem;
                height: 3rem;
                background-color: #ccc;
                margin-bottom: 1.5rem;
                border-radius: 0.3rem;
                box-shadow: 0.2rem 0.2rem 1rem #555;
                position: relative;
                
                @media(max-width: 550px){
                    width: 40rem;
                }

                .progress-text{
                    position: absolute;
                    left: 1rem;
                    color: #fff;
                    font-size: 1.6rem;

                    span{
                        font-size: 2rem;
                    }
                }

                .progress-percent{
                    width: 0;
                    height: 100%;
                    border-radius: 0.3rem 0;
                    background-color: $theme-primary-color;
                    transition: width 1s $unit-time;
                }
            }
        }

        .services{
            width: 100%;
            height: 30vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media(max-width: 900px){
                flex-wrap: wrap;
                height: auto;
            }

            .service{
                text-align: center;

                @media(max-width: 900px){
                    margin: 2rem 8rem;
                }

                i{
                    font-size: 10rem; 
                    color: $grey-one;
                }
                .service-heading{
                    margin-top: 2rem;
                    padding: .1rem 0;
                    width: 25rem;
                    font-size: 2rem;
                    color: #fff;
                    background-color: $grey-one;
                    letter-spacing: .2rem;
                    transform: skew(-10deg);
                }

                &:first-child,
                &:last-child{
                    align-self: flex-start;
                }

            }
        }
    }


    .section-3{
        @extend .section;
        background-color: aliceblue;
        .section-3-heading{
            @extend .section-heading;
        }

        .projects-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .project{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 50rem;
                margin: 3rem;
                position: relative;
                overflow: hidden;
                box-shadow: .2rem .2rem .5rem #777;
                transition: box-shadow $unit-time;

                &:hover{
                    box-shadow: 1rem 1rem 1rem #777;
                    .project-text{
                        top: 7rem;
                        transition: top $unit-time $unit-time;
                    }

                    .project-link{
                        bottom: 5rem;
                        transition: bottom $unit-time $unit-time;
                    }

                    .project-img{
                        opacity: 0.2;
                        transition: opacity $unit-time;
                    }
                }
                .project-text{
                    position: absolute;
                    top: -7rem;
                    text-align: center;
                    letter-spacing: .2rem;
                    transition: top $unit-time;
                    .project-title{
                        font-size: $card-title-1;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 1rem;
                        
                    }

                    .project-description{
                        font-size: $card-title-2;
                        font-weight: 500;
                        color: $theme-primary-color;
                    }
                }

                .project-img{
                    width: 100%;
                }

                .project-link{
                    position: absolute;
                    bottom: -5rem;
                    text-decoration: none;
                    letter-spacing: .2rem;
                    font-size: $card-title-2;
                    padding: .2rem 1rem;
                    border: .3rem solid $theme-primary-color;
                    background-color: #fff;
                    transition: bottom $unit-time;
                }


            }
        }
    }


    .section-4-contact{
        @extend .section;
        background-color: $theme-second-color;
        height: 70vh;

        .section-4-heading{
            @extend .section-heading;
            color: #fff;
            border-color: #fff;
            margin-bottom: 10rem;
        }

        .contact-form{
            width: 50rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            input,textarea{
                width: 100%;
                font-size: 2rem;
                margin-bottom: 1rem;
                padding: .2rem 1rem;
                border: .2rem solid $theme-primary-color;
                &:focus{
                    outline: none;
                }
            }

            input{
                height: 3rem;
            }

            .message{
                height: 10rem;
                resize: none;
                
            }

            .btn{
                width: 100%;
                font-size: 2rem;
                padding: .2rem 0;
                border: none;
                color: #fff;
                background-color: $theme-primary-color;
                text-transform: uppercase;
                letter-spacing: .2rem;
                cursor: pointer;
            }
        }
    }

    footer{
        @extend .section;
        background-color: $theme-second-color;
        width: 100vw;
        height: 30vh;
        padding: 0;
        justify-content: space-evenly;
        .social-medias{
            .social-media-link{
                background-color: $theme-primary-color;
                text-decoration: none;
                display: inline-block;
                width: 6rem;
                padding: .1rem 0;
                margin: 0 1rem;
                text-align: center;
    
                i{
                    color: #fff;
                    font-size: 5rem;
                }
            }
        }
        
        .copyright{
            font-size: 1.7rem;
            color: #aaa;

            .author{
                color: $theme-primary-color
            }
        }
    }

}