.signup-page {
  padding-top: 4rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form{
    padding: 1rem;
}

.signup-form label{
    font-weight: bold;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label{
    display: inline-block;
    width: auto;
}

.signup-form input,
.signup-form select{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    font:inherit;
}

.signup-form input:focus,
.signup-form select:focus{
    outline: none;
    background-color: #d8f3cf;
    border: 1px solid #2ddf5c;
}

.signup-form button{
    display: block;
    margin-top: 1rem;
}

@media(min-width:40rem){
    .signup-form{
        width: 30rem;
        margin: auto;
    }
}