.signup-page {
  padding-top: 4rem;
}

.signup-title {
  text-align: center;
  font-size: 1.8rem;
  color: #ff5454;
}

.signup-form{
    padding: 1rem;
}

.signup-form label,
.signup-form input,
.signup-form select {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label{
    display: inline-block;
    width: auto;
}

.signup-form button{
    display: block;
    margin-top: 1rem;
}

@media(min-width:40rem){
    .signup-form{
        width: 30rem;
        margin: auto;
    }
}