* {
    box-sizing: border-box;
}
html {
  background-color: #b3b3b3;
  padding: 15px;
  margin: 15px;
  border: 5px solid white;
  height: 2000px;
}

body {
  background-color: #fa923f;
  padding: 20px;
  margin: 0;
  border: 5px solid black;
}

.parent {
  background-color: white;
  padding: 20px;
  border: 5px solid black;
  margin: 0;
}

.parent > div {
  background: rgb(105, 105, 109);
  color: white;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
}

.parent .children-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
