@import './scss/_common.scss';


.menu{
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all $unit-time;
  &.change{
    left: 15vw;
    transform: rotate(45deg);
    .menu-line{
      margin: 0;
    }
    .menu-line-1{
      transform: rotate(270deg) translateX(-0.2rem);
    }

    .menu-line-2{
      transform: rotate(360deg) translateY(-0.2rem);
    }
  }

  .menu-line{
    width: 100%;
    height: .3rem;
    margin: .5rem 0;
    background-color: #000;
    transition: transform $unit-time;
  }

  .menu-line-1{
    @extend .menu-line;
  }

  .menu-line-2{
    @extend .menu-line;
  }
}


.navbar{
  width: 15vw;
  height: 100vh;
  padding: 4rem 0 0 4rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: -15vw;
  z-index: 10;
  transition: left $unit-time;
  &.change{
    left: 0;
  }

  .navbar-link{
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-navbar-link-title;
    margin: 2rem 0;
    letter-spacing: .2rem;
    text-transform: uppercase;
    transition: color $unit-time;
    &:hover{
      color: #111;
    }
  }
}

.container{
  .wrapper{
    width: 100vw;
    max-width: 100%;
    perspective: 50rem;
    margin-bottom: 3rem;
    
    section{
      width: 100%;
      height: 100vh;
      background-color: #fff;
      margin-bottom: 1rem;
      box-shadow: .5rem .5rem 1rem #aaa;
      position: relative;
      left: 0;
      transform-origin: left;
      transition: left $unit-time,transform $unit-time;
      &:last-child{
        margin-bottom: 0;
      }
  
      &.change{
        left: 15vw;
        transform: rotateY(10deg);
      }
    }
  }
  

  
}