@import './scss/_common_variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $theme-color;
  color: $second-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}