$size: 500px;
$big-size: 600px;
$time: 0.8s;

$blue-color: #646cff;
$blue-color-deep: #444dfa;
$image-url: "https://game.gtimg.cn/images/yxzj/img201606/skin/hero-info/501/501-bigskin-2.jpg";

*{
    margin: 0;
    padding: 0;
}