@import './scss/common_variables.scss';
@import './scss/mixin_func';

@font-face { 
    font-family: 'Zhi Mang Xing'; 
    src:url('./assets/ZhiMangXing-Regular.ttf');
}


$primary-color: antiquewhite;
$second-color: rgb(41, 186, 226);

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    // background-color: $primary-color;
    // background: url('./images/sun-night.jpg') no-repeat center center/cover;
    color: $second-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .bg{
        background: url('./images/sun-night.jpg') no-repeat center center/cover;
        position: absolute;
        top: -10px;
        left: -30px;
        bottom: -10px;
        right: -30px;
        width: calc(100vw + 30px);
        height: calc(100vh + 10px);
        filter: blur(5px);
        z-index: -1;
    }

    img{
        margin: 20px;
        height: 75px;
        width: 75px;
        border-radius: 50%;
    }

    .code {

        background-color: antiquewhite;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Zhi Mang Xing', cursive;
        a{
            color: black;
            text-decoration: none;
            font-size: 20px;
        }

        &:active{
            transform: scale(0.98);
        }
    }
}



