@import './scss/_common_variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 1s ease;

    &::before{
        content: " ";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        
        z-index: -1;
    }

    .slider-container{
        width: 70vw;
        height: 70vh;
        border: 1px solid black;
        overflow: hidden;
        position: relative;
        
        /**图片衔接上背景
         * 1. 展示的slide设置为和背景容器宽高一样
         * 2. 移动距离 为slider-container距离body的距离
         */
         .slide{
            position: absolute;
            top: -15vh;   // 移动距离
            left: -15vw;  // 移动距离
            width: 100vw;
            height: 100vh;
            background-position: center;
            background-size: cover;
            opacity: 0;  // 隐藏

            &.active{
                opacity: 1;  // 展示
            }
        }


    }


    .arrow{
        position: absolute;
        transform: translateY(-50%);
        padding: 20px;
        font-size: 30px;
        color: #fff;
        border: none;
        background: transparent;
        cursor: pointer;
        

        &:hover{
            border: 1px solid $blue;
        }
        

        &.left-arrow{
            left: calc(15vw - 57px);
        }

        &.right-arrow{
            right: calc(15vw - 57px);
        }
    }
}
