@import './scss/_common';
@import './scss/_variables';


// navbar


.navbar{
    position: fixed;
    top: calc(-1*$navbar-height);
    width: 100%;
    height: $navbar-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-dark-deep;
    z-index: 100;
    transition: top $unit-time;
    .navbar-link{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #ccc;

        i{
            font-size: 5rem;
            color: #ccc;

            @media(max-width: 550px){
                font-size: 3rem;
            }
        }

        span{
            margin: 2rem 3rem;
            font-size: 1.8rem;

            @media(max-width: 550px){
                font-size: 1.2rem;
            }
        }

        &:hover{
            color: $color-green;
            i{
                color: $color-green;
            }
        }
    }

    &.change{
        top: 0;
        transition: top $unit-time $unit-time;
    }
}

.menu{
    position: fixed;
    top: 1rem;
    left: 5rem;
    width: 4rem;
    height: 6rem;
    // background-color: $color-grey-dark-deep;
    background-color: $color-green;
    border-radius: 30rem 30rem 15rem 15rem;
    z-index: 99;
    transition: top $unit-time $unit-time;
    &::before{
        content: " ";
        position: absolute;
        top: calc(-1*($navbar-height + 1rem));
        left: calc(50% - 0.15rem);
        width: 0.3rem;
        height: calc($navbar-height + 1rem);
        background-color: $color-green;
    }

    &.change{
        top: calc($navbar-height + 1rem);
        transition: top $unit-time;
    }
}

.container{
    
    .section-1{
        @extend .share-section;
        background-color: $color-grey-dark;
        
        @media(max-width: 550px){
            height: 50vh;    
        }

        .section-1-icons{
            color: $color-orange;
            font-size: 20rem;

            @media(max-width: 550px){
                font-size: 10rem; 
            }

            i{
                position: absolute;
                transform: translate(-50%,-50%) scale(0);
                transition: all 0.3s;
                &.change{
                    transform: translate(-50%,-50%) scale(1);
                    // 延迟一下，无缝衔接
                    transition: all 0.3s 0.3s;
                }
            }
        }
    }

    .section-2{
        @extend .share-section;
        background-color: $color-grey-dark-deep;

        @media(max-width: 550px){
            height: auto;    
            padding: 2rem 0;
        }

        .section-heading{
            @media(max-width: 550px){
                margin-bottom: 5rem;
            }
        }
        .cards-container{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            @media(max-width: 550px){
                flex-wrap: wrap;       
            }

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20rem;
                padding: 10px;
                background-color:$color-orange;
                position: relative;
                transform: rotateY(20deg) skewX(-2deg);
                transition: transform 1s,box-shadow 1s;

                @media(max-width: 550px){
                    width: 25rem;
                    margin: 3rem 5rem;
                }

                &:hover{
                    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
                    box-shadow: 1rem 1rem 1rem #000;
                }
                // 3D
                &::before{
                    content: " ";
                    position: absolute;
                    height: 100%;
                    width: 1rem;
                    background-color: $color-orange-deep;
                    left: -1rem;
                    top: 0;
                    transform: skewY(45deg);
                    transform-origin: right;
                    box-shadow: -0.1rem -0.1rem 0.1rem #000;
                }

                &::after{
                    content: " ";
                    position: absolute;
                    height: 1rem;
                    width: 100%;
                    background-color: $color-orange-deep;
                    top: -1rem;
                    left: 0;
                    transform: skewX(45deg);
                    transform-origin: bottom;
                    box-shadow: -0.1rem -0.1rem 0.1rem #000;
                }


                img{
                    width: 100%;
                }

                .card-name{
                    font-size: 2rem;
                    font-weight: 800;
                    margin: 2rem 0;
                    text-transform: uppercase;
                    text-shadow: 0.1rem 0.1rem 0.1rem #000;
                }

                .card-btn{
                    width: 70%;
                    font-size: 1.5rem;
                    font-weight: 800;
                    border-radius: 5px;
                    color: $color-grey-light;
                    cursor: pointer;
                    background-color: $color-grey-dark-deep;
                }
            }
        }
    }

    .section-3{
        // @extend .share-section;
        background-color: $color-grey-dark2;
        padding: 5rem 0;
        .gallery-container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-top: 10rem;
            .gallery-link{
                position: relative;
                width: 35rem;
                height: 24rem;
                margin: 3rem 3rem;
                color: $color-white;
                
                @media(max-width: 1400px){
                    margin: 3rem 5rem;
                }

                @media(max-width: 700px){
                    width: 40rem;
                    height: 29rem;
                }

                .food-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 
                                0.5rem 0.5rem 0.1rem #a2e946,
                                0.7rem 0.7rem 0.1rem #297ce9, 
                                0.9rem 0.9rem 0.1rem #e92999;
                    transition: all 0.5s;
                }


                .food-name{
                    position: absolute;
                    top: 3rem;
                    left: 3rem;
                    font-size: 2rem;
                    letter-spacing: 0.1rem;
                    width: 0;
                    overflow: hidden;
                    transition: width 0.3s;

                    @media(max-width: 700px){
                        top: 5rem;
                    }
                }

                .food-description{
                    width: 70%;
                    position:absolute;
                    left: 1rem;
                    bottom: 3rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    opacity: 0;
                    visibility: hidden;

                    @media(max-width: 700px){
                        bottom: 7rem;
                    }
    
                }

                &::before{
                    content: " ";
                    position: absolute;
                    top: 10%;
                    left: 80%;
                    width: 0.2rem;
                    height: 0;
                    z-index: 10;
                    background-color: $color-white;
                    transition: height 0.5s;
                }

                &::after{
                    content: " ";
                    position: absolute;
                    top: 30%;
                    left: 1rem;
                    width: 0;
                    height: 0.2rem;
                    z-index: 10;
                    background-color: $color-white;
                    transition: width 0.5s;
                }
            }

            .gallery-link:hover{
                &::before{
                    height: 80%;     
                }

                &::after{
                    width: 90%;
                }

                .food-img{
                    transform: scale(1.1);
                    filter: blur(0.2rem);
                    opacity: 0.5;
                    box-shadow: 0.6rem 0.6rem 0.1rem #e92929, 
                                1rem 1rem 0.1rem #a2e946,
                                1.4rem 1.4rem 0.1rem #297ce9, 
                                2rem 2rem 0.1rem #e92999;
                }

                .food-name{
                    width: 100%;
                    transition: width 1.5s 0.5s;
                }

                .food-description{
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 1s 1s
                }
            }

            
        }
    }

    .footer{
        position: relative;
        width: 100%;
        height: 16rem;
        padding: 3rem 0;
        background-color: $color-grey-dark-deep;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;

        @media(max-width: 1400px){
            height: 20rem;
        }

        @media(max-width: 700px){
            height: 26rem;
        }

        .footer-description{
            .footer-title{
                font-size: 2rem;
                font-weight: 800;
                color: $color-orange-deep;
            }

            .footer-paragraph{
                padding-top: 1rem;
                font-size: 1rem;
                color: #888;
            }
        }

        .signup-form{
            width: 35rem;
            display: flex;
            align-items: center;
            position: relative;
            .signup-form-input{
                width: 100%;
                height: 5rem;
                font-size: 2rem;

                &::placeholder{
                    color: $color-orange-deep;
                }

                &:focus{
                    outline: none;
                }
            }

            .signup-btn{
                position: absolute;
                right: 0;
                width: 5rem;
                height: 5rem;
                font-size: 2rem;
                cursor: pointer;
                border: none;
                color: $color-orange-deep;
                background-color: $color-grey-dark;

                &:hover{
                    color: $color-orange;
                }
            }
        }
        
        .copyright{
            position: absolute;
            bottom: 3rem;
            width: 100%;
            color: #fff;
            padding-top: 1rem;
            text-align: center;
            border-top: 1px solid $color-orange;
        }

    }
}


