$vue-green: #42b983;
$vue-blue: #32485F;
$size: 400px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $vue-green;

    .title{
        margin: 20px;
        width: 100%;
        text-align: center;
    }

    .todolist-container{
        width: $size;
        margin: 30px auto;


        .text{
            width: 100%;
            padding: 8px 10px;
            font-size: 1rem;
            border: 1px solid $vue-blue;
            border-radius: 10px;

            &:focus{
                outline: none;
            }
        }


        .todo-list{
            padding: 30px;
            list-style-type: disc;

            .todo-item{
                margin-top: 10px;


                .todo-item-text{
                    font-size: 1.2rem;
                }
                
                .btn{
                    margin-left: 10px;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    color: #fff;
                    background-color: $vue-blue;
                    cursor: pointer;


                    &:active{
                        transform: scale(0.93);
                    }
                }
            }
        }

    }
}