* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.main-header {
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  font-size: 22px;
  text-decoration: none;
}

.main-nav {
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
  width: calc(100% - 73px); /* 注意有逗号分隔 */
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item > a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}
