@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Meow+Script&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* -----------header---------------- */

.main-header {
  position:fixed;
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  height: 22px;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
  width: calc(100% - 73px); /* 注意有逗号分隔 */
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item > a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 5px solid white;
}
/* cts means core to action */
.main-nav__item-cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active {
  border: none;
  color: #ff1b68;
  background-color: white;
}


/* -------footer----------- */
.main-footer {
    background-color: black;
    color: white;
    margin-top: 48px;
    padding: 32px;
  }
  
  .main-footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .main-footer__link {
    display: inline-block;
    margin: 0 16px;
  }
  .main-footer__link a {
    color: white;
    text-decoration: none;
  }
  
  .main-footer__link a:hover,
  .main-footer__link a:active {
    color: #ccc;
  }
  

  /* ---------button------------- */
  .button {
    background-color: #0e4f1f;
    color: white;
    font-size: 16px;
    padding: 8px;
    border: 1.5px solid #0e4f1f;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    color: #0e4f1f;
    background-color: white;
    font-weight: bold;
  }