@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&family=Meow+Script&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* -----------header---------------- */

.main-header {
  position: fixed;
  background-color: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
  z-index: 1;
  top: 0;
  left: 0;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

/* main{
  height: calc(100vh - 4rem - 5.4rem);
} */

.main-header__brand {
  color: #0e4f1f;
  font-size: 22px;
  text-decoration: none;
  display: inline-block;
  height: 22px;
  vertical-align: middle;
}



.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: none;
}

@media (min-width: 40rem) {
  .main-nav {
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
    width: calc(100% - 121px); /* 注意有逗号分隔 */
    vertical-align: middle;
  }
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item > a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 5px solid white;
}
/* cts means core to action */
.main-nav__item-cta a,
.mobile-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  border: none;
  color: #ff1b68;
  background-color: white;
}

/*---------mobile nav-------------*/
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: white;
  width: 80vw;
  height: 100%;
}

@media (min-width: 1200px){
  .mobile-nav{
    width: 30vw;
  }
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  text-decoration: none;
  font-size: 1.5rem;
}

/* -------footer----------- */
.main-footer {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 48px;
  padding: 32px;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}
.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

/* ---------button------------- */
.button {
  background-color: #0e4f1f;
  color: white;
  font-size: 16px;
  padding: 8px;
  border: 1.5px solid #0e4f1f;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background-color: white;
  font-weight: bold;
}
/* -------modal------------ */
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  top: 20vh;
  left: 30vw;
  width: 40vw;
  background-color: white;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  margin: 0 0 1rem 0;
  text-align: center;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  font: inherit;
  border: 1px solid #0e4f1f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #0e4f1f;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.open{
  display: block;
}