main {
  padding-top: 32px;
}

.background {
  background: url("../imgs/plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 16px 0;
  border: 4px solid #0e4f1f;
  border-left: none;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454 !important;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.package__subtitle {
  color: rgb(133, 133, 133);
}

.package__info {
  color: #0e4f1f;
  border: 1px solid #0e4f1f;
  padding: 16px;
  font-size: 20px;
  background-color: white;
  /* display: inline-block; */
}

#plus {
  background-color: rgba(213, 255, 220, 0.95);
  position: relative;
}

.package__badge {
  position: absolute;
  margin: 20px;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: white;
  background-color: #ff5454;
  padding: 8px;
}

#free {
  background-color: rgba(234, 252, 237, 0.95);
  float: right;
  border-left: 4px solid #0e4f1f;
  border-right: none;
  text-align: right;
}

.clearfix {
  clear: both;
}

#premium {
  background-color: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}
