@import './scss/_common_variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: $dark;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .container{
    display: flex;

    @media(max-width: 580px){
      flex-direction: column;
    }

    .empty{
      margin: 20px;
      width: 150px;
      height: 150px;
      background-color: $white;

      
      &.hover{
        background-color: #333;
        border-color: white;
        border-style: dashed;
        box-shadow: 1px 1px 5px white;
      }

      .fill{
        width: 100%;
        height: 100%;
        background-image: url($img-url);
      
        &.hold{
          border: 2px solid $blue;
          box-shadow: 3px 3px 10px $blue;
        }
      }
    }
  }
}